
<div class="container">
    <h2>Account Login</h2>
    
    <form action="/action_page.php">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="email" placeholder="user name" name="email">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="password" name="pswd">
        </div>
      </div>

      <button routerLink="/dashboard" type="button" class="btn btn-success" >SIGN IN</button>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">forget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">user name/Password</a>
        </li>
      </ul>

      <button type="button" class="btn btn-success">SIGN UP</button>
      
    </form>
  </div>
  
  
  