
    <div class="parent">
        <div class="left">
              <ul>
                <li routerLink="dashboard1">DASHBOARD1</li>
                <li routerLink="accountprofile">ACCOUNT PROFILE</li>
                <li router="exerciseplans">EXERCISE PLANS</li>
                <li routerLink="dietplans">DIET PLANS</li>
                <li routerLink="subscription">SUBSCRIPTION</li>
                <li routerLink="extraservices">EXTRA SERVICES</li>
                <li routerLink="createemployee">CREATE EMPLOYEE</li>
                <li routerLink="allemployees">ALLEMPLOYEES</li>
                <li routerLink="contact-us">COMPANY INFO</li>
                <li routerLink="about-us">ABOUT-US</li>
                <li routerLink="roles">ROLES</li> 
                <li routerLink="empdetails">Emp details</li> 
                <li routerLink="communication">COMMUNICATION</li> 
                <li routerLink="shopping">SHOPPING</li> 
                <button type="button" class="btn btn-primary">
                    AddtoCart <span class="badge badge-light">4</span>
                  </button>


               
                <button routerLink="/login">Logout</button>
            </ul>
        </div>        
        <div class="right">
        <router-outlet></router-outlet>
    </div>
    
            